<div class="row m-2">
  <div class="col col-lg-4">
    <form [formGroup]="cardValue" class="search_obj">
      <label>Inserire Titolo Della Card</label>
      <input class="form-control" type="text" [value]="cardTitle" formControlName="cardTitle" />
  
      <label>Inserire Descrizione Della Card</label>
      <textarea class="form-control" type="text" [value]="cardDesc" formControlName="cardDesc" rows="3"></textarea>

      <button class="waves-effect waves-light btn col s12" (click)="newCard()" >Crea Card</button>
    </form>
  </div>
  <div class="col-md-auto col-md-8">
    <app-card-layout [cardSelector]="cSelector" ></app-card-layout>
  </div>

</div>