<div class="container-fluid">
  <form [formGroup]="cardValue" class="search_obj">
    <label>Inserire Titolo Della Card</label>
    <input class="form-control" type="text" [value]="cardTitle" formControlName="cardTitle" />

    <label>Inserire Descrizione Della Card</label>
    <textarea class="form-control" type="text" [value]="cardDesc" formControlName="cardDesc" rows="3"></textarea>
    <button class="waves-effect waves-light btn col s12" (click)="newCard()" >Crea Card</button>
  </form>
</div>