.c-card-page{
    background: #8b0000;
    padding: 20px;
    position: relative;
    &__home{
        position: absolute;
        right: 20px;
        top: 5px;
        color: #fff;
        cursor: pointer;
    }
    &__title{
        text-transform: capitalize;
        color: #fff;
        //position: absolute;
    }
    &__img{
        width: 100%;
    }
    &__body{
        width: 100%;
        color: #fff;
        font-weight: 500;
        font-size: 18px;
    }
}